 *{
    margin: 0;
    padding: 0;
 }
 
 
 .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
    height: 100vh;
    }
    .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 20px;
    font-size: 18px;
    }
    .sidebar a:hover {
    background-color: #007bff;
    }

    
    .main-content {
    margin-left: 250px;
    padding: 20px;
    margin-top: 50px;
    }

    .navbar {
    z-index: 100;
    }

    
    @media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
    }
    .main-content {
        margin-left: 0;
    }
    }


    .stat-card{
        height: 100px;
        width: 250px;
        margin: 20px 20px;
        display: flex;
        
        border-radius: 15px;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        box-shadow: inset 0px 0px 10px grey;
    }

    .stat-card p{
        font-weight: bolder;
        font-size: 20px;
    }

    .stat-card div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    /* css for usermanagement page  */
            

    /* creating suggestion toolbox for action event */
    .users h5{
        text-align: center;
        font-weight: bolder;
    }

    .users table th{
        background-color: lightblue;
    }

    .users th,td{
        text-align: center;
        border-radius: 10px;
    }

    .users table{
        border-collapse: separate;
        border-radius: 15px;
        overflow: hidden;
    }
    .tool {
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 0 25px;
        height: 10px;
        width: 20px;
    }

    .tool .tool-name {
        width: 60px;
        background-color:grey;
        color: black;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .tool:hover .tool-name {
        visibility: visible;
        opacity: 1;
    }


